#fl-customizer-loading {
    background-color: rgba(255,255,255,0.9);
    background-image: url('../img/spinner.gif');
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}